## The Series so Far

1. [Decorator Introduction](https://blog.wizardsoftheweb.pro/typescript-decorators-introduction)
2. [JavaScript Foundation](https://blog.wizardsoftheweb.pro/typescript-decorators-javascript-foundation)
2. [Reflection](https://blog.wizardsoftheweb.pro/typescript-decorators-reflection)

These posts are planned but not written yet:

* Property Decorators
* Method Decorators
* Parameter Decorators
* Class Decorators
