## The Series so Far

1. [Decorator Introduction](https://blog.wizardsoftheweb.pro/typescript-decorators-introduction)
2. [JavaScript Foundation](https://blog.wizardsoftheweb.pro/typescript-decorators-javascript-foundation)
3. [Reflection](https://blog.wizardsoftheweb.pro/typescript-decorators-reflection)
4. [Parameter Decorators](https://blog.wizardsoftheweb.pro/typescript-decorators-parameter-decorators)
5. Property Decorators{# [Property Decorators](https://blog.wizardsoftheweb.pro/typescript-decorators-property-decorators) #}
6. Method Decorators{# [Method Decorators](https://blog.wizardsoftheweb.pro/typescript-decorators-method-decorators) #}
7. Class Decorators{# [Class Decorators](https://blog.wizardsoftheweb.pro/typescript-decorators-class-decorators) #}

Eventual Topics:

* Where Decorators Work
* Decorating Instance Elements vs. Static Elements
* Examples
    * Pairing Parameter Decorators with Method Decorators
    * Pairing Property Decorators with Class Decorators
