## The Series so Far

1. [Decorator Introduction](https://blog.wizardsoftheweb.pro/typescript-decorators-introduction)
2. [JavaScript Foundation](https://blog.wizardsoftheweb.pro/typescript-decorators-javascript-foundation)

These posts are planned but not written yet:

* Metadata and Reflection
* Property Decorators
* Method Decorators
* Parameter Decorators
* Class Decorators
