{% extends 'base.md.j2' %}
{% block lead %}
{% endblock %}
{% block content %}
## Why Look at the JavaScript?

## Configuration

I'll be using this `tsconfig.json` throughout the post.

{{
    highlight_block(
        'typescript/foundation/tsconfig.json',
        blob_path = 'typescript/foundation/tsconfig.json',
        explicit_lexer_name = 'JsonLexer',
        title = 'tsconfig.json',
        external_source_link = 'https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/tsconfig.json'
    )
}}

## From the Source

Decorators are built from stored, prebuilt JavaScript. [The `decorateHelper`](https://github.com/Microsoft/TypeScript/blob/v2.7.2/src/compiler/transformers/ts.ts#L3577), deep in the compiler, exports the `__decorate` function wherever it needs to go. The same function is used for all decorator types.

### Raw

[As of `v2.7.2`](https://github.com/Microsoft/TypeScript/blob/v2.7.2/src/compiler/transformers/ts.ts#L3577), `decorateHelper` generates this JavaScript.

{{
    highlight_block('''
var __decorate = (this && this.__decorate) || function (decorators, target, key, desc) {
    var c = arguments.length, r = c < 3 ? target : desc === null ? desc = Object.getOwnPropertyDescriptor(target, key) : desc, d;
    if (typeof Reflect === "object" && typeof Reflect.decorate === "function") r = Reflect.decorate(decorators, target, key, desc);
    else for (var i = decorators.length - 1; i >= 0; i--) if (d = decorators[i]) r = (c < 3 ? d(r) : c > 3 ? d(target, key, r) : d(target, key)) || r;
    return c > 3 && r && Object.defineProperty(target, key, r), r;
};
''',
        explicit_lexer_name = 'JavascriptLexer',
        title = 'decorateHelper',
        external_source_link = 'https://github.com/Microsoft/TypeScript/blob/v2.7.2/src/compiler/transformers/ts.ts#L3577'
)
}}

To verify, we can create a simple class, decorate it, and see how TypeScript compiles it.

{{
    highlight_block(
        'typescript/foundation/raw/main.ts',
        blob_path = 'typescript/foundation/raw/main.ts',
        explicit_lexer_name = 'TypeScriptLexer',
        title = 'main.ts',
        external_source_link = 'https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/raw/main.ts',
    )
}}

{{ shell_session('$ tsc -p tsconfig.json') }}

{{
    highlight_block(
        'typescript/foundation/raw/main.js',
        blob_path = 'typescript/foundation/raw/main.js',
        explicit_lexer_name = 'JavascriptLexer',
        title = 'main.js',
        external_source_link = 'https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/raw/main.js',
    )
}}

The `__decorate` blob is defined at the top and consumed at the bottom with `foo` as an input. If you need more examples, either keep reading or compile more things.

### Prettified and Polished

As it stands, `__decorate` isn't easy to grok. Let's clean it up a bit to see how it works.

## Analysis

### Parameter Decorators

### Property Decorators

### Method Decorators

### Class Decorators

## Recap
{% endblock %}
