{% extends 'base.md.j2' %}
{% block lead %}
{% endblock %}
{% block content %}
## Overview

### Class Method vs Global Function

## Signature

### `target: any`

### `propertyKey: string | symbol`

### `descriptor: PropertyDescriptor`

## Changing Mode

### Strict Mode

### Not Strict Mode

## Usage

## Recap

{% endblock %}
