{% extends 'base.md.j2' %}
{% block lead %}
This post looks at how TypeScript compiles decorators. It pulls the raw JavaScript from the compiler and breaks down the result. It has basic decorator examples of each type to examine the JavaScript output.
{% endblock %}
{% block content %}
## Why Look at the JavaScript?

A little bit of perspective is never a bad thing. I often forget that JavaScript is somewhere in the toolchain because `ts-node` keeps me so far removed. Looking at how the compiler handles decorators will shed some light on the process and make debugging the inevitable issues easier.

## Configuration

I'll be using this `tsconfig.json` throughout the post.

{{
    highlight_block(
        'typescript/foundation/tsconfig.json',
        blob_path = 'typescript/foundation/tsconfig.json',
        explicit_lexer_name = 'JsonLexer',
        title = 'tsconfig.json',
        external_source_link = 'https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/tsconfig.json'
    )
}}

## From the Source

Decorators begin with stored, prebuilt JavaScript. [The `decorateHelper`](https://github.com/Microsoft/TypeScript/blob/v2.7.2/src/compiler/transformers/ts.ts#L3577), deep in the compiler, exports the `__decorate` function wherever it needs to go. The same function is used for all decorator types.

### Raw

[As of `v2.7.2`](https://github.com/Microsoft/TypeScript/blob/v2.7.2/src/compiler/transformers/ts.ts#L3577), `decorateHelper` generates this JavaScript.

{{
    highlight_block('''
var __decorate = (this && this.__decorate) || function (decorators, target, key, desc) {
    var c = arguments.length, r = c < 3 ? target : desc === null ? desc = Object.getOwnPropertyDescriptor(target, key) : desc, d;
    if (typeof Reflect === "object" && typeof Reflect.decorate === "function") r = Reflect.decorate(decorators, target, key, desc);
    else for (var i = decorators.length - 1; i >= 0; i--) if (d = decorators[i]) r = (c < 3 ? d(r) : c > 3 ? d(target, key, r) : d(target, key)) || r;
    return c > 3 && r && Object.defineProperty(target, key, r), r;
};
''',
        explicit_lexer_name = 'JavascriptLexer',
        title = 'decorateHelper',
        external_source_link = 'https://github.com/Microsoft/TypeScript/blob/v2.7.2/src/compiler/transformers/ts.ts#L3577'
)
}}

To verify, we can create a simple class, decorate it, and see how TypeScript compiles it.

{{
    highlight_block(
        'typescript/foundation/raw/main.ts',
        blob_path = 'typescript/foundation/raw/main.ts',
        explicit_lexer_name = 'TypeScriptLexer',
        title = 'main.ts',
        external_source_link = 'https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/raw/main.ts',
    )
}}

{{ shell_session('$ tsc --project tsconfig.json') }}

{{
    highlight_block(
        'typescript/foundation/raw/main.js',
        blob_path = 'typescript/foundation/raw/main.js',
        explicit_lexer_name = 'JavascriptLexer',
        title = 'main.js',
        external_source_link = 'https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/raw/main.js',
    )
}}

The `__decorate` blob is defined at the top and consumed at the bottom with `foo` as an input. If you need more examples, either keep reading or compile more things.

### Prettified and Polished

As it stands, `__decorate` isn't easy to grok. Let's clean it up a bit to see how it works.

{{
    highlight_block(
        'typescript/foundation/pretty/decorate.js',
        blob_path = 'typescript/foundation/pretty/decorate.js',
        explicit_lexer_name = 'JavascriptLexer',
        title = 'decorate.js',
        external_source_link = 'https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/pretty/decorate.js',
    )
}}

* [Line 5](https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/pretty/decorate.js#L5) is a guarded assignment; it reuses an existing `__decorate` or builds it from scratch.
* [Line 8](https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/pretty/decorate.js#L8) counts the call's arguments. Remember the arguments have typically been

    1. `target`: base object
    2. `propertyKey`: name or symbol of the active object
    3. `descriptor`: the active [property descriptor](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/defineProperty#Description)

    We can reasonably infer having all three is important.

* [Lines 10-16](https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/pretty/decorate.js#L10) set the initial item that will decorated.

    * If there are fewer than three arguments, the item is the `target`, which should be the class.
    * If there are three (or more) arguments, the item is the property descriptor for `target[propertyKey]`.

* [Lines 19-24](https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/pretty/decorate.js#L19) search [the Reflect object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Reflect) for a `decorate` method. I scratched my head over this for a few minutes, then discovered [a great SO answer](https://stackoverflow.com/a/46499259/2877698). It's future planning for the day when `Reflect.decorate` does exist.

* [Lines 26-42](https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/pretty/decorate.js#L42) loop over the passed-in decorators and attempt to evaluate them.

    * Once again, three arguments is important. If there are fewer than three, the decorator is called with `r`, which as we learned above, should be `target`.
    * With more than three arguments, the decorator is called with `r` as the property descriptor (in addition to `target` and `propertyKey`)
    * If there are three exactly, the decorator is called without anything to connect it to the current state (just `target` and `propertyKey`).

* [The `return`](https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/pretty/decorate.js#L44) checks to see if the descriptor has been updated. If there are more than three arguments, the decorator was called with `r`, so it might have changed. If `r` is defined and the `target` is able to define `propertyKey` with the `r`-descriptor, the object will be updated. `r` is always returned.

## Analysis

To keep with the JavaScript theme, I'm going to look at each kind of decorator and the JS it generates. This is just a cursory overview; when I wrap back around with posts about the individual decorators I'll go deeper with more examples and more complicated setups.

Because I didn't do anything complicated with these decorators, I ended 3/4 with a fairly pessimistic assessment. I assure you that will change once I bring factories and fancy config back into the mix. Vanilla decorators are fantastic at monitoring state and not much else.

### Parameter Decorators

To explore parameter decorators, let's build an uncomplicated logger.

{{
    highlight_block(
        'typescript/foundation/parameter/main.ts',
        blob_path = 'typescript/foundation/parameter/main.ts',
        explicit_lexer_name = 'TypeScriptLexer',
        title = 'main.ts',
        external_source_link = 'https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/parameter/main.ts',
    )
}}

{{ shell_session('$ tsc --project tsconfig.json') }}

{{
    highlight_block(
        'typescript/foundation/parameter/main.js',
        blob_path = 'typescript/foundation/parameter/main.js',
        explicit_lexer_name = 'JavascriptLexer',
        title = 'main.js',
        external_source_link = 'https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/parameter/main.js',
    )
}}

The `__decorate` call is full of `__param` calls. That's a new function. Like `__decorate`, `__param` is [stored deep in the compiler](https://github.com/Microsoft/TypeScript/blob/v2.7.2/src/compiler/transformers/ts.ts#L3627).

{{
    highlight_block('''
var __param = (this && this.__param) || function (paramIndex, decorator) {
    return function (target, key) { decorator(target, key, paramIndex); }
};
''',
        explicit_lexer_name = 'JavascriptLexer',
        title = 'paramHelper',
        external_source_link = 'https://github.com/Microsoft/TypeScript/blob/v2.7.2/src/compiler/transformers/ts.ts#L3627'
)
}}

`__param` is [only used by parameter decorators](https://github.com/Microsoft/TypeScript/blob/v2.7.2/src/compiler/transformers/ts.ts#L1609), unlike `__decorate`, which is used by all. Like `__decorate`, `__param`'s assignment is guarded. When created, `__param` becomes a factory that takes `target` and `propertyKey` as input with fixed `decorator` and `paramIndex`.

Returning to [line 10](https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/parameter/main.js#L10), after the `__decorate` and `__param` declarations, we see a tidier `LogParameter` and `ParameterExample`. All of the TS syntactic sugar has been removed for a faster, vanilla JS experience.

We're mainly interested in the `__decorate` call itself. [On line 21](https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/parameter/main.js#L21), the `decorators` array has been filled with `__param` calls. This converts the unique signature of parameter decorators into the standard `(target, propertyKey, descriptor)` format, albeit without a descriptor. Similarly, the decoration is happening on `logThis` (which owns the parameter) without a descriptor.

All of this together means parameter decorators really don't do much for us. We can verify a parameter has been used. We don't have access to the value it was used with. Returns from parameter decorators [are ignored](https://www.typescriptlang.org/docs/handbook/decorators.html#parameter-decorators) which means any changes we attempt will persist beyond this decorator. All that being said, there are some very good uses for the limited access we have, which will be explored more in the Parameter Decorator post (TODO!).

### Property Decorators

In strict mode, property decorators are also fairly limited. I'll be covering that difference later; check out [this example](https://gist.github.com/remojansen/16c661a7afd68e22ac6e#file-property_decorator-ts) to get a feel for things that won't work in strict mode.

Once again, building a simple, logging decorator is a good way to explore.

{{
    highlight_block(
        'typescript/foundation/property/main.ts',
        blob_path = 'typescript/foundation/property/main.ts',
        explicit_lexer_name = 'TypeScriptLexer',
        title = 'main.ts',
        external_source_link = 'https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/property/main.ts',
    )
}}

{{ shell_session('$ tsc --project tsconfig.json') }}

{{
    highlight_block(
        'typescript/foundation/property/main.js',
        blob_path = 'typescript/foundation/property/main.js',
        explicit_lexer_name = 'JavascriptLexer',
        title = 'main.js',
        external_source_link = 'https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/property/main.js',
    )
}}

Below `__decorate`'s declaration and the simplified core logic, `__decorate`'s call cements how limited the property decorator appears. `LogProperty` isn't called with a property descriptor so any modifications it makes will persist beyond the decorator. `__decorate`'s final argument, `void 0`, reiterates that. Once again, `__decorate` has left us with solid observation options.

### Method Decorators

Logging decorators are very easy to write.

{{
    highlight_block(
        'typescript/foundation/method/main.ts',
        blob_path = 'typescript/foundation/method/main.ts',
        explicit_lexer_name = 'TypeScriptLexer',
        title = 'main.ts',
        external_source_link = 'https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/method/main.ts',
    )
}}

{{ shell_session('$ tsc --project tsconfig.json') }}

{{
    highlight_block(
        'typescript/foundation/method/main.js',
        blob_path = 'typescript/foundation/method/main.js',
        explicit_lexer_name = 'JavascriptLexer',
        title = 'main.js',
        external_source_link = 'https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/method/main.js',
    )
}}

Now we're getting somewhere. Method decorators provide a descriptor and update `target[propertyKey]` with changes made to `descriptor` that are returned. While the `__decorate` call ends with a `null`, as we saw above, `__decorate` should pull the proper property descriptor with a `null` tail.

To be fair, there's not a whole lot we can streamline with access to the property descriptor. Any changes made on anything but the descriptor will persist. We do, as always, have some fantastic observation options via `__decorate`, and the code is getting easier to read.

### Class Decorators

There's not much to logging a class name.

{{
    highlight_block(
        'typescript/foundation/class/main.ts',
        blob_path = 'typescript/foundation/class/main.ts',
        explicit_lexer_name = 'TypeScriptLexer',
        title = 'main.ts',
        external_source_link = 'https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/class/main.ts',
    )
}}

{{ shell_session('$ tsc --project tsconfig.json') }}

{{
    highlight_block(
        'typescript/foundation/class/main.js',
        blob_path = 'typescript/foundation/class/main.js',
        explicit_lexer_name = 'JavascriptLexer',
        title = 'main.js',
        external_source_link = 'https://github.com/thecjharries/posts-typescript-decorators/blob/master/typescript/foundation/class/main.js',
    )
}}

Class decorators can directly affect the classes they decorate by modifying their return, so you won't hear me complaining about this one. The compiled result is the simplest to read, which is an added bonus.

## Recap

TypeScript builds all the decorators from the stored `__decorate` code. `__decorate` is used by the all the decorators; `__param` pops up with parameter decorators to transform their odd signature into something useful. Logging decorators are very easy to code. Without frills, parameter and property decorators are useful to monitor application flow. Method and class decorators can make simple changes without too much trouble.
{% endblock %}
